.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
    height: 180px;
  }
  
  .header-title {
    font-size: 48px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    padding: 10px 5px;
    margin-right: 10px;
    width: 400px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  
  .search-bar:focus {
    outline: none;
    box-shadow: none;
  }
  
  .search-button,
  .heart-button,
  .cart-button {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .search-button i,
  .heart-button i,
  .cart-button i {
    color: white;
  }
  
  .search-button:hover,
  .heart-button:hover,
  .cart-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  