.plant-list-container {
    padding: 20px;
  }
  
  .plant-list-title {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .plant-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
  
  @media (max-width: 768px) {
    .plant-list-container {
      padding: 10px;
    }
  
    .plant-list-title {
      font-size: 20px;
      text-align: center;
    }
  
    .plant-list {
      justify-content: center;
    }
  }
  